<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Forecast</title>
</head>
<body>
    <%- include header -%>
    <h1 class='selected-city'>Select a city on main page and then return on this page to see information about forecast!</h2>
    <hr>
    <div class="forecast-infobox"></div>
    <%- include footer -%>
</body>
</html>