<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <%- include header -%>
    <main class="locations">
        <img id="image-placeholder" src="https://mforum.ist/media/55c53eae4489d1620bfd33c5a6658cec-png.8371/full" alt="backgroung-image">
    </main>
    <%- include footer -%>
</body>
</html>